body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#top {
  display: flex;
  width: 600px;
  border: 1px solid black;
  align-items: center;
    flex-direction: row;
}

#infos {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}